@import "tailwindcss";

@theme inline {
  --color-brand-orange: #ea580c;
  --color-brand-dark: #0f172a;
  --color-brand-light: #f8fafc;
}

body {
  background-color: var(--color-brand-light);
  color: var(--color-brand-dark);
  font-family: Arial, Helvetica, sans-serif;
}

/* Hide scrollbar for Chrome, Safari and Opera */
::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
* {
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
}
